/* Header - avatar and user name at the top of the page but below the nav bar */

body>header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #F6F4F1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}