/* CSS for submitting a new tweet */

form {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1em;
}

.error {
  background-color: #FFCCCC;
  font-size: 1.3rem;
  padding: 0.8rem;
}

#tweet-text {
  width: 100%;
  background-color: #F6F4F1;
  border: none;
  border-bottom: 0.2em solid #545149;
  font-weight: bold;
  font-size: 80%;
  resize: none;
  opacity: 1;
}

textarea:focus, input:focus{
  outline: none;
  color: #545149;
}

.tweet-count-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.counter {
  font-family: "Bungee", sans-serif;
  font-size: 80%;
}

.counter.negative-count {
  color: red;
}

.submit-new-tweet-button {
  background-color: #1B3A44;
  color: #F6F4F1;
  font-family: "Bungee", sans-serif;
  font-size: 80%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: none;
}

.submit-new-tweet-button:hover{
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem rgb(177, 175, 175);
}